@model TodoApp.ViewModels.Todos.IndexCreate

@{
    ViewData["Title"] = "Todos";
}

<h1>Todos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row mb-3">
    <div class="col">
        <div class="card bg-warning bg-opacity-50">
            <div class="card-body">
                <h5 class="card-title">Add a todo</h5>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Todo.Title" class="control-label"></label>
                        <input asp-for="Todo.Title" class="form-control" />
                        <span asp-validation-for="Todo.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Todo.Body" class="control-label"></label>
                        <input asp-for="Todo.Body" class="form-control" />
                        <span asp-validation-for="Todo.Body" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Todo.IsDone" /> @Html.DisplayNameFor(model =>
                            model.Todo.IsDone)
                        </label>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todo.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todo.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todo.IsDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todo.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{int i = 1;}
@foreach (var todo in Model!.Todos) {
        <tr
            class="@(todo.IsDone ? "done" : "")"
        >
            <td>
                @i
                @{i++;}
            </td>
            <td>
                @Html.DisplayFor(modelItem => todo.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => todo.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => todo.IsDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => todo.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@todo.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@todo.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@todo.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
